



*{
    margin: 0;
    padding: 0;
    font-family: 'Handjet', cursive;
    font-family: 'Inconsolata', monospace;
     font-family: 'Josefin Sans', sans-serif;
      box-sizing: border-box;
}

body{
  
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    background-color: rgb(191, 225, 255);
    color: red;

}
.uil-github{
    color: black;
    font-size: 2.4rem;
    /* padding-left: 10rem; */
    cursor: pointer;

}
.uil-github:hover{
    color: rgb(143, 4, 4);
}

.about{
    text-align: center;
    padding: 2rem 0;
    font-size: 1rem;
    background-color: aliceblue;
    
}
.about p{
    font-size: 1.2rem;
    width: 50%;
    margin: auto;
}
.gitrepo{
    text-align: center;
    font-size: 1.3rem;
    color: blue;
    padding: 1rem 0;
}



.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.project-container-heading{
    text-align: center;
    color: green;
    text-decoration: underline;
    padding-bottom: 2rem;
    margin-top: 2rem;
}
.project{
   max-width: 400px;
  border: 2px solid rgb(218, 62, 0);
  border-radius: 10px;
  box-shadow: 10px 10px 13px 12px rgb(235, 195, 195);
}
.project:hover{
    box-shadow: none;
    transition: 0.8s;
}
.project-image{
    width: 100%;
    border: none;
}
.project-title{
   color: red;
    font-size: 1.5rem;
    text-align: center;
}

.links{
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    padding: 1rem 0;
    
}
.links a{
    text-decoration: none;
}

/* media query for mobile view ............................... */

 @media (max-width:600px ) {
    
    body{
        background-color: rgb(252, 210, 210);
    }
    .project-container{
        /* display: block; */
        /* width: 100%; */
        
    }
    .project{
      max-width: 80%;
    }
    .about p{
        width: 80%;
    }
 }

/* Future projects section.........................................................................*/
.future-projects{
    display: flex;
    flex-wrap: wrap;
   gap: 1rem;
   border: 1px solid rgb(230, 178, 194);
   margin: 3rem 0;
   text-align: center;
   padding: 1rem 0;
 }
 .future-projects h3{
    font-size: 1.3rem;
 }
 
 .ongoing-projects{
    display: flex;
    flex-wrap: wrap;
   gap: 1rem;
   border: 2px solid rgb(199, 230, 199);
   margin: 3rem 0;
   padding: 1rem 0;
 }
 .ongoing-projects h3{
    font-size: 1.3rem;
 }


 /* .... update section ................................ */


  .update-section{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: azure;
  }
  .upcoming-update{
   padding: 1rem 0.7rem;
   border-bottom: 1px solid rgb(236, 199, 199);
  }
  .upcoming-update h2{
    color: red;
    border-bottom: 1px solid red;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
  }
  .upcoming-update p{
    font-family: cursive;;
    padding-bottom: 0.3rem;
  }
  .upcoming-update span{
   color: red; 
  }
  
  .past-update{
    padding: 1rem 0.5rem;
    border-bottom: 1px solid rgb(190, 202, 240);
  }
  .past-update h2{
    color: blueviolet;
    border-bottom: 1px solid blueviolet;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
  }
  .past-update span{
    color: rgb(3, 124, 13);
  }
  .past-update p{
    padding-bottom: 0.3rem;
    font-family: cursive;
  }



/* footer section . ............................................. */
 
footer{
    background-color: rgb(203, 179, 226);
    margin-top: 3rem;
    box-shadow: 
    inset 0px 19px 18px -1px #de61f7,
    inset 0px -11px 18px -10px #db0808;
}
.footer-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 0;
}
.footer-container pre{
    font-size: 1.2rem;
    color: rgb(86, 67, 255);
    /* width: 200px; */
}
li {
    list-style-type: none;
    
}
.footer-links{
 font-size: 1.2rem;
}
.footer-links h3{
    color: rgb(231, 47, 23);
    margin-bottom: 1rem;
    text-decoration: underline;
}
.footer-links li{
    margin-bottom: 0.7rem;
}
.footer-links li a{
  text-decoration: none;
  font-size: 1.2rem;
  /* margin-bottom: 2rem; */
  color: rgb(82, 79, 79);
}
.footer-links li a:hover{
    color: blue;
}
.footer-icons h3{
   color: rgb(230, 25, 25);
   text-decoration: underline;
}
 .uil-linkedin{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: rgb(81, 2, 155);
}
.uil-twitter{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.uil-envelope-edit{
    font-size: 2rem;
    margin-bottom: 12rem;
    color: red;
}
.footer-last{
 text-align: center;
 padding: 1rem 0;
}
.footer-last strong{
    font-size: 1.1rem;
    color: rgb(204, 11, 11);
}

    #greeting{
        color: blue;
        padding: 1rem 0;
        font-size: 1.4rem;
        text-align: center;
    }
    



/* add responsiveness. .......... */
@media (max-width:600px ) {
    
    .footer-container{
        flex-direction: column;
        row-gap: 2rem;
    }

 }
